p{
    font-size: 24px;
    
    justify-content: center;
    align-items: center;
}
.Box{

    display: flex;
    gap: 1%; 
    margin: 1%;
    padding: 2%;
    /* border:solid 10px rgb(183, 217, 72); */
}

@media (max-width: 767px) {
    .Box {
        display: flex;
        flex-direction: column;
        /* border:solid 10px rgb(72, 217, 186); */
    }

    .intro{
    
        /* border:solid 10px rgb(217, 130, 72); */
        padding: 3%;

        display: relative;
    }
    
    .IntroImage{
        width: 95%;
        height: auto;
    }
    
}



.GroupTitle{
    margin-top: 1%;
}

/* 成員區 */
.munber{

    margin-left:5%;
  
    width: 90%;
    height: 19%;
    /* border:solid 10px rgb(183, 217, 72); */
}
  

.rectangle{
    display: flex;
 
    align-items: center;
    /* justify-content: center; */
    
    margin: auto;
    width: 90%;
    height: 100%;
    background-color: #d9d9d9;
    border-radius: 100px;
    /* border:solid 10px rgb(183, 217, 72); */
}
.MumberImageContainer{
    display: flex;
    gap: 2%; 
    margin-left: 5%;
    /* border:solid 10px rgb(217, 164, 72); */
}

.MumberImage{
    display: flex;
    width: 9%;
    height: auto;
    /* border:solid 10px rgb(183, 217, 72); */
    border-radius: 50%;

}



/* 底下是亮點的 */
.highlight{
    flex: 1;
    /* border:solid 10px rgb(217, 130, 72); */
    padding: 2%;

    display: relative;
  
    
}

.highlight.Image{
    display: flex;
    align-items: center;
    justify-content: center;

}
.HighlightImage{
    width: 100%;
    height: auto;
}

/* 底下是介紹的 */

.intro{
    flex: 1;
    /* border:solid 10px rgb(217, 130, 72); */
    padding: 3%;

    display: relative;
}
.intro.Image{
    display: flex;
    align-items: center;
    justify-content: center;

}
.IntroImage{
    width: 95%;
    height: auto;
}