/* === 4個頁面都一樣且統一的樣式寫這邊 === */

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

/* === 頁面滑動 === */
html, body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  

}
section {
    height: 100vh;
   
    scroll-snap-align: start;
     
}
h1{
    display: flex;
    justify-content: center; 
    align-items: center;  
}

