
/* 電腦全螢幕 */
@media (min-width: 1024px) and (min-height: 700px){
    .computer_component_wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
         /* width: 100%; */
        margin-top: 3%;
        height: 90vh; 
        gap: 10%;
         
        /* border:solid 5px rgb(91, 72, 217); */
    }
    .computer{
        position: absolute;
      
        width: 60%;
        top:24%;
        transform: translate(0%, -20%)
        
        /* height: auto;
        left: 50%;
        ; */
        /* border:solid 5px rgb(217, 178, 72); */
        /* z-index: 9999; */
    }
     .scrollDown{
        position: absolute;
        top:95%;
        margin-bottom: 0.9%;
        width: 4%;
        height: auto;
        /* z-index: 9999; */
        /* border:solid 5px rgb(217, 178, 72); */
       
    }

     .audioImage{
        position: absolute;
        width: 13%;    
        height: auto;
        top:41%;
        left: 50%;
        transform: translate(-50%, -40%);
        z-index: 10;
        /* border:solid 5px rgb(72, 217, 166); */
    }
    
    .side{
        position: relative;
        width: 100%;
        height: 90%;
        /* border:solid 5px rgb(217, 178, 72); */
    }
    .BackgroundPenMouse{
        position: absolute;
        top: -7%;
        transform: translate(0%, -7%);
        left: -1%;
        width: 19%; 
        height: auto;
        /* animation: float1 2s ease-in-out infinite alternate; */
        
      
    }
    .BackgroundPenMouse.mouse{
        position: absolute;
        top: 10%;
        transform: translate(0%, -3%);
        left: 83%;
        width: 19%; 
        height: auto;
        
    }

    /* 影片區 */
    .audioPage{
        display: none;
        /* border:solid 5px rgb(91, 72, 217); */
         position: fixed;
        width: 100%;
        height: 110%;
        background-color: rgba(0, 0, 0, 0.741);
        z-index: 9999;  
        top:-8%;
        margin-top: 0%;      
   }
   .audioBackgeoundContainer{
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        top:-101%;
        gap: 56%;
         /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioBackgeound{
        position: relative;
        width: 25%;
        /* bottom:0% ; */
        top: 3%;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioBackgeound2{
        position: relative;
        width: 19%;
        /* bottom:3% ; */
        top: 3%;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioAndText{
        position: relative;
        display: flex;
        /* flex-direction: column; */
        gap: 2%;
        /* width: 100%; */
        height: 100%;
      
        justify-content: center;
        align-items: center;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .introAudio{
        /* margin-right: 60%; */
        width: 35%;
        height: 40%;
        margin-top: 3%;
        /* border:solid 15px rgb(72, 217, 130); */
        border-image: url("../Image/MainPage1/框.png") 30 round;
        z-index: 99999;
   }
   .audioText{
        color: white;
        font-size: 20px;
        width: 35%;
        /* border:solid 5px rgb(72, 217, 130); */
        text-align: center;
   }
   .svgBack{
        position: relative;
        top:-185%;
        left: 90%;
        width: 3%;
        height: auto;
        z-index: 99999;
        
       
   }
   .svgBack:hover line{
        cursor: url("../Image/cursor/確認2.png") 0 0, auto;
        stroke-width: 8px;
   }
   
   

}

/* 電腦 */



@media (min-width: 1024px) and (max-height: 700px) {
    .computer_component_wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
         /* width: 100%; */
        margin-top: 1.2%;
        height: 90vh; 
        gap: 10%;
         
        /* border:solid 5px rgb(91, 72, 217); */
    }
    .computer{
        position: absolute;
         margin-top: 3%;
        width: 60%;
        top:20%;
        transform: translate(0%, -20%)
        
        /* height: auto;
        left: 50%;
        ; */
        /* border:solid 5px rgb(217, 178, 72); */
        /* z-index: 9999; */
    }
     .scrollDown{
        position: absolute;
        top:99%;
        /* margin-top: 15%; */
        /* margin-bottom: 0.9%; */
        width: 4%;
        height: auto;
        /* z-index: 9999; */
        /* border:solid 5px rgb(217, 178, 72); */
       
    }

     .audioImage{
        position: absolute;
        width: 13%;    
        height: auto;
        top:40%;
        left: 50%;
        margin-top: 3%;
        transform: translate(-50%, -40%);
        z-index: 10;
        /* border:solid 5px rgb(72, 217, 166); */
    }
  
    /* .side{
        position: relative;
        width: 100%;
        height: 90%;
        /* border:solid 5px rgb(217, 178, 72); 
    }*/
    .BackgroundPenMouse{
        position: absolute;
        top: -7%;
        transform: translate(0%, -7%);
        left: -1%;
        width: 19%; 
        height: auto;
        
        
      
    }
    .BackgroundPenMouse.mouse{
        position: absolute;
        top: -3%;
        transform: translate(0%, -3%);
        left: 83%;
        width: 19%; 
        height: auto;
    }

   /* 影片區 */
   .audioPage{
        display: none;
        /* border:solid 5px rgb(91, 72, 217); */
         position: fixed;
        width: 100%;
        height: 110%;
        background-color: rgba(0, 0, 0, 0.741);
        z-index: 9999;  
        top:-8%;
        margin-top: 0%;      
   }
   .audioBackgeoundContainer{
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        top:-101%;
        gap: 56%;
         /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioBackgeound{
        position: relative;
        width: 25%;
        /* bottom:0% ; */
        top: 3%;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioBackgeound2{
        position: relative;
        width: 19%;
        /* bottom:3% ; */
        top: 3%;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioAndText{
        position: relative;
        display: flex;
        /* flex-direction: column; */
        gap: 2%;
        /* width: 100%; */
        height: 100%;
      
        justify-content: center;
        align-items: center;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .introAudio{
        /* margin-right: 60%; */
        width: 35%;
        height: 40%;
        margin-top: 3%;
        border:solid 15px rgb(72, 217, 130);
        border-image: url("../Image/MainPage1/框.png") 30 round;
        z-index: 99999;
   }
   .audioText{
        color: white;
        font-size: 20px;
        width: 35%;
        /* border:solid 5px rgb(72, 217, 130); */
        text-align: center;
   }
   .svgBack{
        position: relative;
        top:-185%;
        left: 90%;
        width: 3%;
        height: auto;
        z-index: 99999;
        
       
   }
   .svgBack:hover line{
        cursor: url("../Image/cursor/確認2.png") 0 0, auto;
        stroke-width: 8px;
   }
  
   

    



}
/* 手機 */
@media (max-width: 767px){

     .computer_component_wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
         /* width: 100%; */
        margin-top: 10%;
        height: 90vh; 
        gap: 10%;
         
        /* border:solid 5px rgb(91, 72, 217); */
    }

    .computer{
        position: absolute;
      
        width: 100%;
        height: auto;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        
        /* 
        left: 50%;
        ; */
        /* border:solid 5px rgb(217, 178, 72); */
    
    }
     .audioImage{
        position: absolute;
        width: 25%;    
        height: auto;
        top:50%;
        left: 50%;
        transform: translate(-50%, -40%);
        z-index: 11;
        /* border:solid 5px rgb(72, 217, 166); */
    }
     .scrollDown{
        position: absolute;
        bottom:10%;
        margin-bottom: 0.9%;
        width: 15%;
        height: auto;
        /* z-index: 9999; */
        /* border:solid 5px rgb(217, 178, 72); */
       
    }
    .BackgroundPenMouse{
        position: absolute;
        top: 1%;
        transform: translate(0%, -7%);
        left: -1%;
        width: 50%; 
        height: auto;

        
        
      
    }
     .BackgroundPenMouse.mouse{
        position: absolute;
        top: 30%;
        transform: translate(0%, -3%);
        left: 50%;
        width: 50%; 
        height: auto;
    }

    /* 影片區 */

    .audioPage{
        display: none;
        /* border:solid 5px rgb(91, 72, 217); */
         position: fixed;
        width: 100%;
        height: 110%;
        background-color: rgba(0, 0, 0, 0.741);
        z-index: 9999;  
        top:-8%;
        margin-top: 0%;      
   }
   .audioBackgeoundContainer{
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        top:-103%;
        gap: 1%;
         /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioBackgeound{
        position: relative;
        width: 85%;
        /* bottom:0% ; */
        top: 3%;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioBackgeound2{
        position: relative;
        width: 59%;
        /* bottom:3% ; */
        top: 3%;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioAndText{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2%;
        /* width: 100%; */
        height: 100%;
      
        justify-content: center;
        align-items: center;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .introAudio{
        /* margin-right: 60%; */
        width: 85%;
        height: 30%;
        margin-top: 3%;
        border:solid 15px rgb(72, 217, 130);
        border-image: url("../Image/MainPage1/框.png") 30 round;
        z-index: 99999;
   }
   .audioText{
        color: white;
        font-size: 16px;
        width: 100%;
        padding: 5%;
        /* border:solid 5px rgb(72, 217, 130); */
        text-align: center;
   }
   .svgBack{
        position: relative;
        top:-185%;
        left: 85%;
        width: 10%;
        height: auto;
        z-index: 99999;
        padding: 1%;
        
       
   }
   .svgBack:hover line{
        cursor: url("../Image/cursor/確認2.png") 0 0, auto;
        stroke-width: 8px;
   }
  
}


/* 平板 */
@media (max-width: 1023px) and (min-width: 768px)   {
    .computer_component_wrapper{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
         /* width: 100%; */
        /* margin-top: 10%; */
        height: 90vh; 
        gap: 10%;
         
        /* border:solid 5px rgb(91, 72, 217); */
    }
    .computer{
        position: absolute;
         margin-top: 3%;
        width: 60%;
        top:20%;
        transform: translate(0%, -20%)
        
        /* height: auto;
        left: 50%;
        ; */
        /* border:solid 5px rgb(217, 178, 72); */
        /* z-index: 9999; */
    }
     .scrollDown{
        position: absolute;
        top:99%;
        /* margin-top: 15%; */
        /* margin-bottom: 0.9%; */
        width: 4%;
        height: auto;
        /* z-index: 9999; */
        /* border:solid 5px rgb(217, 178, 72); */
       
    }

     .audioImage{
        position: absolute;
        width: 13%;    
        height: auto;
        top:40%;
        left: 50%;
        margin-top: 3%;
        transform: translate(-50%, -40%);
        z-index: 10;
        /* border:solid 5px rgb(72, 217, 166); */
    }
  
    /* .side{
        position: relative;
        width: 100%;
        height: 90%;
        /* border:solid 5px rgb(217, 178, 72); 
    }*/
    .BackgroundPenMouse{
        position: absolute;
        top: -7%;
        transform: translate(0%, -7%);
        left: -1%;
        width: 19%; 
        height: auto;
        
        
      
    }
    .BackgroundPenMouse.mouse{
        position: absolute;
        top: -3%;
        transform: translate(0%, -3%);
        left: 83%;
        width: 19%; 
        height: auto;
    }

   /* 影片區 */
   .audioPage{
        display: none;
        /* border:solid 5px rgb(91, 72, 217); */
         position: fixed;
        width: 100%;
        height: 110%;
        background-color: rgba(0, 0, 0, 0.741);
        z-index: 9999;  
        top:-8%;
        margin-top: 0%;      
   }
   .audioBackgeoundContainer{
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        top:-101%;
        gap: 56%;
         /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioBackgeound{
        position: relative;
        width: 25%;
        /* bottom:0% ; */
        top: 3%;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioBackgeound2{
        position: relative;
        width: 19%;
        /* bottom:3% ; */
        top: 3%;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .audioAndText{
        position: relative;
        display: flex;
        /* flex-direction: column; */
        gap: 2%;
        /* width: 100%; */
        height: 100%;
      
        justify-content: center;
        align-items: center;
        /* border:solid 5px rgb(72, 217, 130); */
   }
   .introAudio{
        /* margin-right: 60%; */
        width: 35%;
        height: 40%;
        margin-top: 3%;
        border:solid 15px rgb(72, 217, 130);
        border-image: url("../Image/MainPage1/框.png") 30 round;
        z-index: 99999;
   }
   .audioText{
        color: white;
        font-size: 20px;
        width: 35%;
        /* border:solid 5px rgb(72, 217, 130); */
        text-align: center;
   }
   .svgBack{
        position: relative;
        top:-185%;
        left: 90%;
        width: 3%;
        height: auto;
        z-index: 99999;
        
       
   }
   .svgBack:hover line{
        cursor: url("../Image/cursor/確認2.png") 0 0, auto;
        stroke-width: 8px;
   }
  
   



}

