body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* === 頁面滑動 === */
.section-scroll-container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; 

}
.content{
    height: 100vh;
    scroll-snap-align: start;
    /* scroll-snap-stop: always; */

    border:solid 5px rgb(183, 217, 72);
    font-size: 25px;
}
.writting{  
    width: 90%;
    height: 100vh;
    border:solid 5px rgb(217, 123, 72);
}


/* === 垂直滾動條 === */
.scroll-bar-fixed{
    position: fixed;
    border:solid 1px rgb(255, 6, 6);

    right: 0.1%;
    height: 100vh;
    width: 100vh;
}
.scroll-bar{
  
    overflow: visible; 
    position: absolute; 
    width: 2%; 
    height: auto; 

    

    top: 18rem; 
    right: 3.544rem; 
    

    border:solid 1px rgb(2, 2, 2);
}

.sb-button-container{
    width: 100%;
    height: 100%;

    display: relative;
    justify-content: center; 
    align-items: center;  

    overflow: visible;
    border:solid 1px rgb(212, 90, 90);

}
.sb-button{
    width: 100%;
    height: 100%;

    display: relative;
    justify-content: center; 
    align-items: center;  


    border:solid 1px rgb(94, 90, 212);
    cursor: pointer;
}


::-webkit-scrollbar {  /* 預設的滾動條消失 */
  display: none;
}

