 /* body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
} */
/* === 頁面滑動 === */
/* html, body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
  

}
section {
    height: 100vh;
   
    scroll-snap-align: start;
     
}  */

.longContent{

    overflow-y: auto;
}


.content{

    margin-left: 2%;
    padding-top: 1%;
    

    /* border:solid 5px rgb(72, 72, 217); */
    font-size: 25px;
}
.writting{  
    width: 90%;
    height: 100vh;
    border:solid 5px rgb(72, 79, 217);
}


/* === 垂直滾動條 === */
.scroll-bar-fixed{
    position: fixed;
    /* border:solid 1px rgb(255, 6, 6); */

    right: 1.5%;
    height: 100vh;
    width: 10vh;
    z-index: 10;
}
.scroll-bar{
  
    overflow: visible; 
    position: absolute; 
    width: 30%; 
    height: auto; 

    right: 50%;              
    top: 50%; 
    transform: translate(50%,-50%); 

    
    

    /* border:solid 1px rgb(2, 2, 2); */
}

.sb-button-container{
    width: 100%;
    height: 100%;
    padding: 3px;

    display: relative;
    justify-content: center; 
    align-items: center;  
    overflow: visible;
    /* border:solid 1px rgb(212, 90, 90); */

}
.sb-button{
    width: 100%;
    height: 100%;

    display: relative;
    justify-content: center; 
    align-items: center;  


    /* border:solid 1px rgb(94, 90, 212); */
    cursor: pointer;
}


::-webkit-scrollbar {  /* 預設的滾動條消失 */
  display: none;
}


/* === 懶人按鍵 === */
.toTOp-button-container{
    position: absolute;
    
    width: 40%;
    
    /* border:solid 1px rgb(212, 143, 90); */
    left: 54%;
    top: 65%;
    transform: translateX(-50%); 

    cursor: pointer;
    

    
}
.a-toTOp-button{
    position: relative;
    /* border:solid 1px rgb(210, 34, 34); */

    display: flex;
    justify-content: center; 
    align-items: center;  

    
}
.toTOp-button{
    /* display: show; */

    position: relative;
    width: 70% ;
    height: 70%;
    /* border:solid 1px rgb(128, 210, 34); */

    
   
}

